@import "reset";
@import "mixin";

// Değişkenler

a {
  text-decoration: none; /* linklerin altı çizili olmasın */
}

.container {
  width: 400px;
  background-color: white;
  @include border-radius(3px);
  padding: 30px;
  margin-bottom: 30px;

  .login-header {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .login-content {
    display: flex;
    flex-direction: column; /* inputlar alt alta getirildi */
    margin-bottom: 14px;

    & input {
      height: 50px;
      padding: 0 20px;
      border: 2px solid rgb(219, 219, 219);
      margin-bottom: 20px;
    }
  }

  .login-footer {
    display: flex;
    justify-content: space-between; /* biri sağa biri sola */
    align-items: center;

    & a {
      color: rgb(160, 158, 158); /* link renkleri siyaha döndü */
      transition: 250ms all;

      &:hover {
        // &:this
        color: black;
      }

      &:first-child {
        /* submit seçildi */
        background-color: royalblue;
        width: 90px;
        height: 40px;
        text-align: center; /* text i yatayda ortalar */
        line-height: 40px; /* text i dikeyde ortalamak için satır yüksekliğini height e eşit yaptık */
        color: white;
        border-radius: 3px;
        @extend .egim;

        &:hover {
          /* imleci submitin üzerine getirince olacaklar: */
          background-color: #1f222c;
        }
      }
    }
  }
}

.egim {
  transition: 250ms all;
}

.signup a {
  display: block;
  color: white;
  @extend .egim;

  &:hover {
    text-decoration: underline;
  }
}
